<!DOCTYPE html>
<html lang="en-us" dir="ltr" data-scheme="light">
    {% include "header.liquid" %}

    <body class="article-page" style="transition: background-color 0.3s ease 0s;">
      {% include "dark_mode_scripts.liquid" %}

      <div class="container main-container flex on-phone--column extended">
        {% include "left_aside.liquid" %}
        <main class="main full-width">
          <article class="has-image main-article">
            <header class="article-header">
                <div class="article-image">
                    <a href="{{ page.permalink }}">
                        <img src="{{ page.data.hover_img }}" width="100%" loading="lazy" alt="Featured image of post Hello World">
                    </a>
                </div>
                <div class="article-details">
                    <header class="article-category">
                        {% for cat in page.categories %}<a style="background-color:#2a9d8f;color:#fff">{{cat}}</a>{% endfor %}
                    </header>
                    <div class="article-title-wrapper">
                        <h3 class="article-title"><a href="{{ page.permalink }}"> {{ page.title }}</a></h3>
                        <h3 class="article-subtitle">{{ page.data.subtitle }}</h3>
                    </div>
                    <footer class="article-time">
                        <div>Published: <time class="article-time--published"> {{ page.published_date | date: "%Y-%m-%d %H:%M" }}</time></div>
                    </footer>
                </div>
            </header>
            <section class="article-content">
            {{ page.content }}
            </section>
          </article>
        </main>
      </div>
      {% include "footer_scripts.liquid" %}
  </body>
</html>